/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

/* Landing section styles */
.landing {xqq
    position: relative;
    height: 100vh;
}

.landing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 32px;
}

.overlay a {
    font-size: 1.2em;
    
}

/* Text section styles */
.text-section {
    max-width: 1200px; 
    min-width: 300px;
    /*margin: 0 auto; */
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 120px;
    
}

.text-section p {
    font-size: 1.2em;
}

blockquote {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    padding: 16px;
}

attribution {
    font-weight: regular;
    text-align: center;
    padding: 0px;
  
  }


/* Credits section styles */
.credits {
    background-color: #fFFFFF;
    padding: 160px;
    text-align: center;
}

.credits h2 {
    margin-bottom: 20px;
}

.credits ul {
    list-style-type: none;
}

.credits ul li {
    margin-bottom: 10px;
}

.credits ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Footer section styles */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.email-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}


/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    /* Reset some styles for mobile */
    * {
        box-sizing: border-box; /* make sure padding doesn't affect the overall width */
    }

    /* Landing section styles */
    .overlay {
        padding: 10px;
        width: 100%; /* set width to 100% */
    }

    .overlay h1 {
        font-size: 2em;
    }

    .overlay p {
        font-size: 1em;
    }

    /* Text section styles */
    .text-section {
        width: 90%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the text section */
        padding: 10px; /* Add some padding */
        font-size: 0.9em; /* Decrease font size for better readability */
        line-height: 1.6; /* Increase line height for better spacing */
        word-wrap: break-word; /* Ensure that long words do not overflow */
    }

    blockquote {
        font-size: 1em;
    }

    /* Footer section styles */
    .footer {
        padding: 10px;
    }

    .email-link {
        font-size: 1em;
    }

    .social-links img {
        width: 20px; /* Adjust the size of social icons as needed */
    }
}
